:root {
    --primary-color: rgb(0, 166, 219);
    --light-gray: rgb(121, 127, 133);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Pretendard', sans-serif;
    color: #333;
    line-height: 1.6;
    background-color: #f4f7f6;
}


.container {
    width: 90%;
    margin: 0 auto;
}

/* 헤더 부분 */
header {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: min(90%, 1200px);
    height: 80px;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(9px);
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    z-index: 9999;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

/* 헤더가 나왔다 들어갔다 */
header.hide {
    transform: translate(-50%, -100px);
    opacity: 0;
    pointer-events: none;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0 30px;
}

/* 로고 부분 */
.logo span {
    font-size: 1.75rem;
    font-weight: 700;
}

.logo span a {
    text-decoration: none;
    color: var(--primary-color);
    opacity: 1;
}

/* 메뉴 버튼 */
nav ul {
    display: flex;
    list-style: none;
    gap: 50px;
}

nav ul li a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: white;
    opacity: 0.8;
    font-size: 0.9rem;
    font-weight: 500;
    padding-bottom: 2px;
    transition: opacity 0.3s ease;
}

nav ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
}

nav ul li a:hover {
    opacity: 1;
}

nav ul li a:active {
    transform: scale(0.97);
}

nav ul li a:hover::after {
    transform: scaleX(1);
}

/* 햄버거 버튼 */
.mobile-menu {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
    opacity: 0.8;
    transition: opacity 0.3s ease;
    /* border: 1px solid red; */
}

.mobile-menu:hover {
    opacity: 1;
}

.mobile-menu:active {
    transform: scale(0.95);
}

/* 햄버거의 모양 결정짓기 */
.mobile-menu span {
    display: block;
    width: 25px;
    height: 3px;
    border-radius: 1px;
    background-color: white;
    margin: 5px 0;

    transition: transform 0.3s ease, opacity 0.3s ease;
}

/* 모바일 메뉴를 누르면 곱표 모양으로 바꾸기 */
.mobile-menu span:first-child.x {
    transform: translateY(8px) rotate(-45deg);
}

.mobile-menu span:nth-child(2).x {
    opacity: 0;
}

.mobile-menu span:last-child.x {
    transform: translateY(-8px) rotate(45deg);
}

.mobile-nav {
    /* 평소에는 모바일 내비게이션은 안보임. 버튼 누르기 전까지는 */
    opacity: 0;
    /* visibility: hidden; */
    pointer-events: none;
    /* 버튼을 눌렀을 때 나타나는 형태를 조정 */
    transform: translate(-50%, 10px);


    position: fixed;
    top: 100px;
    /* right: calc(50% - min(90%, 1200px)/2); */
    left: 50%;
    /* transform: translateX(-50%); */
    width: min(90%, 1200px);
    padding: 10px 0;

    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(9px);
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    z-index: 1500;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.mobile-nav ul {
    display: flex;
    flex-direction: row;
    /* gap: 20px; */
    align-items: center;
    justify-content: center;
    /* border: 1px solid salmon; */

}




@media (max-width: 768px) {
    /* 헤더 컨테이너에 있는 글자들은 안보임 */
    header .header-container nav {
        display: none;
    }
    /* 모바일 내비게이션 버튼이 보임 */
    header .header-container .mobile-menu {
        display: block;
    }
    /* 모바일 내비게이션 버튼을 누르면 모바일 내비게이션이 액티브되는 상황 */
    .mobile-nav.active {
        opacity: 1;
        /* visibility: visible; */
        transform: translate(-50%, 0);
        pointer-events: auto;

    }

    /* 스크롤 할 때 모바일 메뉴가 나왔다 들어갔다 */
    .mobile-nav.hide {
        /* 스크롤 할 때 나타나는 형태를 조정 */
        transform: translate(-50%, -70px);
        opacity: 0;
        pointer-events: none;
    }
}







/* footer 부분 */
footer {
    background-color: #343a40;
    color: #f8f9fa;
    padding: 1.5rem 1rem;
    text-align: center;
    font-weight: 250;
    font-size: 0.8rem;
}



