:root {
    --primary-color: rgb(0, 166, 219);
    --gray: rgb(74, 74, 74);
    --light-gray: rgb(121, 127, 133);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Pretendard', sans-serif;
    color: #333;
    line-height: 1.6;
    background-color: #f4f7f6;
}

.section10 {
    height: 3000px;
}